.album__container {
  width:100%;
}
.album__container h2 {
  padding: 10px;
  width:100%;
  color: steelblue;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
li.album__box {
  padding: 10px;
}

