.album__container {
  width: 100%;
  position: relative;
}
.album__container h2 {
  padding: 10px;
  width: 100%;
  color: steelblue;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
li.album__box {
  padding: 10px;
}
.album__box p::first-letter {
  text-transform: uppercase;
}
