* {
  margin: 0;
  padding: 0;
}

.albumlist__container h2 {
  padding: 10px;
  color: steelblue;
  text-transform: uppercase;
}

li.album__box {
  padding: 10px;
}

.album__title a {
  color: rgb(24, 75, 117);
  text-decoration: none;
  text-transform: uppercase;
}

.album__title a:hover {
  color: rgb(240, 240, 240);
}
