* {
  margin: 0;
  padding: 0;
}

li.albumlist__box {
  padding: 10px;
  box-shadow: 1px 1px 5px grey;
  margin-bottom: 10px;
}

.albumlist__container h2 {
  padding: 10px;
  color: steelblue;
  text-transform: uppercase;
}

.album__title a {
  color: rgb(24, 75, 117);
  text-decoration: none;
  text-transform: uppercase;
}

.album__author a {
  color: rgb(0, 21, 37);
  text-decoration: none;
}

.album__title a:hover,.album__author a:hover {
  color: rgb(240, 240, 240);
}
